# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cached *_pp.pyc files
*.py[cod]

# Pickle files
*.pickle
*.pkl
*.cache

# Compiled python files
*.pyc

# Built-in extensions
*.so

# Environments
.env
.venv
ENV/
env/
venv/

# Virtual Environments
*.venv

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Django settings
local_settings.py

# Flask settings
instance/
.webassets-cache

# Scrapy settings
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pipenv, Pipfile, Pipfile.lock and .direnv/ are included in the
#   default .gitignore:
#   https://github.com/pypa/pipenv/blob/master/Pipfile#L575-L578
#   https://github.com/pypa/pipenv/blob/master/Pipfile#L583-L586
#
#   However, the Pipfile.lock file is not included by default because in case of
#   using Git it is possible to recreate it with `pipenv lock`.
#   https://github.com/pypa/pipenv/issues/1886#issuecomment-395954850
#
#   Also, the .direnv/ directory may not be included by default because it is
#   specific to Direnv and it doesn't seem to have any value to commit into a VCS.
#   https://github.com/pypa/pipenv/issues/1886#issuecomment-419720905
#
#   Please, check the related issue for more details:
#   https://github.com/pypa/pipenv/issues/1886
#
# Pipfile.lock
# !!! Contents within this directory are generated by pipenv !!!
# .direnv/

# mypy and pylint/pycodestyle cache/state files
.mypy_cache/
.pylint.d/
.pytest.d/
.cache/
.pycodestyle.cache

# pytest
.pytest_cache/
.coverage

# python debugger history
.pythonhistory

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# venv
# !!! The venv directory is included by default because it is specific to each
# development environment. Please, make sure to create your virtual environment
# with a more descriptive name or inside a directory with a descriptive name. !!!
# venv/

# pyenv
# !!! The .python-version file is included by default because it is specific to
# each development environment. Please, make sure to create your virtual
# environment with a more descriptive name or inside a directory with a
# descriptive name. !!!
# .python-version

# Editor directories and files
.idea/
*.sublime-project
*.sublime-workspace
.project
.tmprojec

# PyCharm
out/

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.DS_Store
.~lock*